.filter{
    grid-area: filters;
    border: 1px solid rgba(0, 0, 0, 0.293);
    width: 98%;
    display: flex;
    flex-direction: column;
}
.filter div{
    padding: 1rem;
}
.category input{
    display: inline-block;
}
@media screen and (max-width:763px){
    .filter{
        grid-column: 1/-1;
        margin: 0 auto;
    }
}