.filter{
    /* grid-column:1/2;
    grid-row: 2/3; */
    grid-area: filters;
}
.filter{
    padding: 3rem;
}
.filter div{
    padding: 1rem;
}
@media screen and (max-width:763px){
    .filter{
        grid-column: 1/-1;
        margin: 0 auto;
    }
}