.main-description{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "header header"
                        "figure-description title-price-description"
                        "figure-description product-description"
                        "figure-description product-add";
    height: 100vh;
}
.figure-description{
    grid-area: figure-description;
    place-items: center;
    display: flex;
    justify-content: center;
}
.figure-description img{
    width: 23rem;
}
.title-price-description{
    grid-area: title-price-description;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.5rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.404);
    gap: 1rem;
}
.price-description{
    font-weight: bold;
}
.product-description{
    grid-area: product-description;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
    border-bottom: 1px solid rgba(0, 0, 0, 0.404);
}

.product-add{
    grid-area: product-add;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons{
    display: flex;
    flex-direction: row;
}
.buttons .Add-cart{
    padding: 0.8rem;
    background-color: black;
    color: white;
}
.quantity{
    display: flex;
    border: 1px solid black;
}
.quantity button{
    width: 3rem;
    font-weight: bold;
    font-size: 1.4rem;
    border: none;
    background: white;
}
.quantity .number{
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.4rem;
}