*::after,
*::before,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    font-family: 'Lato';
}

img{
    max-width: 90%;
    padding: 10px;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}
header >h1 {
    padding-bottom: 30px;
}

.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.item-container{
    display: grid;
    grid-template-columns: repeat(
        auto-fit,
        minmax(
            250px,
            1fr
        )
        );
    gap:1rem;
}
.item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.item:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
}
.info-product{
    width: 100%;
    padding: 20px 20px;
    font-size: 15px;
}

.info-product button{
    right: 0%;
}

.item img{
    width: 100%;
    height: 300px;
    text-align: center;
    object-fit: contain;
    border-radius: 40px;
}

.item figure{
    overflow: hidden;
    width: 100%;
}

.item:hover img{
    transform: scale(1.2);
}
.separador{
    display: flex;
    justify-content: space-between;
    align-items: center;
}