*::after,
*::before,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif
}

.container{
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr auto;
    grid-template-areas:
        "header header"
        "filters main";
    gap: 1rem;
}
/* .container{
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 0.04fr 0.11fr 1fr;
    grid-template-areas:
        "header header"
        "filters main"
        "otro main";
    gap: 1rem;
} */

.container .header{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    grid-area: header;
    background-color: rgba(255, 192, 203, 0.558);
}

.item-container{
    display: grid;
    grid-area: main;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap:1rem;
}
.item{
    display:grid;
    place-items: center;
    max-width: 350px;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 0.5fr;
}
.item:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
}



.item img{
    object-fit: contain;
    width: 130px;
    aspect-ratio: 1/1;
    transition-property: all;
    transition-duration: 300ms;
}

.item figure{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.293);
    overflow: hidden;
    height: 290px;
}


.item:hover img{
    transform: scale(1.2);
}

.info-product{
    width: 100%;
    height: 100%;
    padding: 10px 20px;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.info-product button{
    right: 0%;
}
.info-product h2{
    font-size: 1.5rem;
}
.info-product h4{
    font-size: 1rem;
}

.separador{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 5px;
}

@media screen and (max-width:763px){
    .item-container{
        grid-row: 3/-1;
        grid-column: 1/-1;
        margin: 0 auto;
    }
    }